.bookshelf .card {
  background-color: ghostwhite;
}
.bookshelf .btn {
  color: rgb(81, 81, 81);
}
.bookshelf .btn-check:checked + .btn {
  color: black;
  font-weight: 600;
  background-color: #d5aa40;
}

.bookshelf #title {
  font-size: 20px;
  font-weight: 600;
}