.discreete-dropdown {
  visibility: hidden;
}

:is(.runningHead .scholium, .scholium .content, .main):hover .discreete-dropdown {
  visibility: visible;
}

.discreete-dropdown .toggle {
  margin-top: 0.25rem;
  color: crimson;
  cursor: pointer;
}

