.content {
  display: flex;
  padding: 0 12px;
}

.formatted-text {
  flex: 1;
}

.formatted-text:hover {
  background: lightgray;
  border-color: black;
}

/* --- Segment Selector --- */
.segment-selector {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}