.content {
  display: flex;
  padding: 0 12px;
}

.formatted-text {
  flex: 1;
}

.formatted-text:hover {
  background: lightgray;
  border-color: black;
}

.editable-text-form {
  margin-inline: -0.5rem;
}

.editable-textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  overflow: hidden;
  resize: none;
}


