.fragment {
    padding-bottom: .6em;
}

.fragment:hover {
    cursor: pointer;
}

.fragment .citation {
    margin-right: 1.5em;
    background-color: rgb(255, 243, 205);
    font-weight: bold;
}

