.info-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0;
}

.info-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: crimson;
}
.info-icon-container:hover {
  padding-left: 24px;
}

.text-document-creation {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-height: 600px;
  overflow-y: auto;
}

.info-icon-container:hover .text-document-creation {
  display: block;
}

.separator {
  margin: 3px;
}

.btn-see-more {
  color : crimson !important;
}
