.lectern {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border-radius: 10px;
}

.license-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.lectern .row p {
  white-space: pre-wrap;
}

.main {
  background-color: ghostwhite;
}

.lectern .runningHead div {
  padding-top: 17px;
  padding-bottom: 17px;
}

.lectern .row:first-of-type .main {
  border-radius: 10px 0px 0px 0px;
  text-align: left;
}

.lectern .row:last-of-type .main {
  border-radius: 0px 0px 0px 10px;
}

.rubric {
  color: crimson;
  text-align: center;
}

.scholium {
  background-color: gainsboro;
}

.lectern .row:first-of-type .scholium {
  border-radius: 0px 10px 0px 0px;
  justify-content: flex-end;
  text-align: right;
}

.lectern .row:last-of-type .scholium {
  border-radius: 0px 0px 10px 0px;
}

.lectern > .row:last-of-type > div {
  padding-bottom: 17px;
}

.runningHead {
  color: crimson;
}

.icon,
.icon:hover {
  color: crimson;
  text-decoration: none;
  margin-right: .5rem;
}

.sources .card,
.gloses .card {
  background-color: gainsboro;
  color: black;
}

p, ul, h1, h2 {
  margin-bottom: 0px !important;
}

dd {
  padding-left: 30px;
}

.icon.bookmarked {
  color: gold; /* or any color that indicates an active bookmark */
}

