.work {
  font-variant: small-caps;
  margin-right: .5rem;
}

.edition {
  padding-bottom: 12px;
}

.license a {
  text-decoration: none;
  color: inherit;
}

.license a:hover {
  color: inherit;
}

.icon {
  opacity: 1 !important;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.icon:hover {
  filter: brightness(1.5);
}

