.work {
  font-variant: small-caps;
  margin-right: .5rem;
}

.edition {
  padding-bottom: 12px;
}

.license a {
  text-decoration: none;
  color: inherit;
}

.license a:hover {
  color: inherit;
}

.metadata-form .metadata-field {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.metadata-form .metadata-field .form-label {
  width: 7rem;
  flex-shrink: 0;
  margin-bottom: 0;
  text-align: left;
}

.metadata-form .metadata-field .form-label::after {
  content: " :";
}

.metadata-form .add-section {
  text-align: left;
}

.metadata-form .add-section .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
}

.icon {
  opacity: 1 !important;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.icon:hover {
  filter: brightness(1.5);
}

