.typeBadge {
    margin: 10px 5px;
    text-transform: capitalize;
    width: fit-content;
    padding: 8px 20px!important;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-align: center;
    vertical-align: baseline;
    border-radius: 20px;
    display: inline-block;
    word-break: break-word;
}

.typeIcon {
    opacity: 1 !important;
    cursor: pointer;
    transition: filter 0.3s ease;
    display: inline-block !important;
    visibility: visible !important;
}

.typeIcon:hover {
    filter: brightness(1.5);
}

.dropdown-toggle::after,
.dropdown-toggle .three-dots {
    opacity: 1 !important;
    visibility: visible !important;
    display: inline-block !important;
}

.always-visible {
    opacity: 1 !important;
    visibility: visible !important;
    display: inline-block !important;
}
