.typeContainer {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 8px; /* Moins d'espace entre les badges */
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.typeBadge {
  margin: 0;
  text-transform: capitalize;
  width: fit-content;
  padding: 8px 20px !important;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  display: inline-block;
  word-break: break-word;
}
