.existingCollection {
    height: 56px !important;
    width: inherit;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* hide content outside the container */
    white-space: nowrap; /* disallow text wrapping */
}