.page {
  text-align: justify;
  background-color: ghostwhite;
  border-radius: 10px;
}

.rubric {
  color: crimson;
  text-align: center;
}

.scholium {
  background-color: gainsboro;
}

.row {
  white-space: pre-wrap;
}

.row:first-of-type > .scholium {
  border-radius: 0px 10px 0px 0px;
}

.row:last-of-type > .scholium {
  border-radius: 0px 0px 10px 0px;
}

