.page {
  text-align: justify;
  border-radius: 10px;
}

.page .row {
  white-space: pre-wrap;
}

.source {
  background-color: ghostwhite;
}

.page .runningHead div {
  padding-top: 17px;
}

.page .row:first-of-type .source {
  border-radius: 10px 0px 0px 0px;
  text-align: left;
}

.page .row:last-of-type .source {
  border-radius: 0px 0px 0px 10px;
}

.rubric {
  color: crimson;
  text-align: center;
}

.scholium {
  background-color: gainsboro;
}

.page .row:first-of-type .scholium {
  border-radius: 0px 10px 0px 0px;
  justify-content: flex-end;
  text-align: right;
}

.page .row:last-of-type .scholium {
  border-radius: 0px 0px 10px 0px;
}

.page .row:last-of-type div {
  padding-bottom: 17px;
}

.runningHead {
  color: crimson;
}

.icon,
.icon:hover {
  color: crimson;
  text-decoration: none;
  margin-right: .5rem;
}

.references .card {
  background-color: gainsboro;
  text-color: black;
}
